@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: white;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 50px 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }



  div#disqus_thread {
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;
  }

  /* .about {
    display: flex;
    
  } */

  .about_text {
    /* text-align: center; */
    font-size: 1em;
    display: inline;
    margin: auto 0;
  }

  .navbar-collapse {
    flex-grow: initial;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.2em;
    white-space: nowrap;
  }

  @media(max-width: 767px) {
    .navbar-light .navbar-brand {
      width: 50%;
    }
    .navbar-brand img {
      height: 40px;
      width: 100%;
    }

    .nav-item {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid black;
    }

    /* .about {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about img {
      max-width: 50%;
    } */
  }